*
# Ignore everything except entries with "!"

!/.idea/
/.idea/*
!/.idea/gradle.xml
!/.idea/vcs.xml
!/.idea/codeStyles/*
!/.idea/inspectionProfiles/*
!/.idea/runConfigurations/*
/.idea/runConfigurations/run*.xml

!/gradle/**
!/src/**
/src/main/resources/transformers/
/src/main/resources/META-INF/coremods.json

!/.gitignore
!/build.gradle
!/gradle.properties
!/gradlew*
!/README.md
!/transformerTemplate.js
